<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老师列表</title>
</head>
<body>
<hr>
<a href="/add_teacher/">添加老师</a>
<hr>
<table border="1px">
    <thead>
    <tr>
        <th>ID</th>
        <th>老师姓名</th>
        <th>任教班级</th>
        <th>编辑操作</th>
    </tr>
    </thead>
    <tbody>
    {% for foo in teach_list %}
        <tr>

            <td>{{ foo.id }}</td>
            <td>{{ foo.tname }}</td>
            <td>{{ foo.c2t.all }} </td>
            <td><a href="/edit_teacher/{{ foo.id }}">编辑</a></td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>